@model Pymes_project.Models.InventarioLenceria

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de producto</h2>
<style>
    .dl-horizontal {
        background-color: white;
        border-radius: 15px;
    }
</style>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreproducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreproducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorunitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorunitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idcodigo },
   new { @class = "btn btn-success" }) |
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-info" })
</p>
