@model IEnumerable<Pymes_project.Models.Empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de empleados</h2>
<style>
    .table {
        background-color: white;
        border-radius: 15px;
    }
</style>
<p>
    @Html.ActionLink("Nuevo registro", "Create", new { },
    new { @class = "btn btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id },
            new { @class = "btn btn-success" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id },
           new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id },
           new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
