@model Pymes_project.ModeloVistas.VistaUsuarios
@{ 
    ViewBag.Title = "Roles";
}
<h2>Roles para el usuario: @Model.Name</h2>
<style>
    .table {
        background-color: white;
        border-radius: 15px;
    }
</style>
<p>
    @Html.ActionLink("Nuevo Rol", "AdicionarRol", new { userID = Model.UserID },
   new { @class = "btn btn-primary" })|
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-info" })
</p>
<table class="table">
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Roles[i].Name)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new
                {
                    userID = Model.UserID,
                    roleID =
               Model.Roles[i].RoleId
                }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
