@model Pymes_project.Models.Compras

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Compra</h2>
<style>
    .dl-horizontal {
        background-color: white;
        border-radius: 15px;
    }
</style>
<h3>Esta seguro de querer eliminar este registro...?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventarioLenceria.nombreproducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventarioLenceria.nombreproducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadvendida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadvendida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorventa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorventa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
        </div>
       
    }
</div>
